*{
  margin: 0px;
  padding: 0px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* header */
header #line-above{
  height:80px;
  /* margin-bottom: -10px; */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-end;
}
header .header-item{
  margin-bottom: 8px;
}
header  h4{
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */

  margin-left:3.3%;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss04' on, 'ss03' on, 'liga' off;
  color: #000000;
}
header  a{
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss04' on, 'ss03' on, 'liga' off;
  color: #000000;
}
/*burger*/
/*navbar 메뉴의 전체 공간 배열*/
.nav-links{
    display: flex; /*세로 정렬된 것들이 가로로 자동 정렬 */
    justify-content: space-around; /*width가 있어야 공간 넓게 배치 가능*/
    width: 70%;
}
.nav-links li{
    list-style: none; /*li 파란색 없애기*/
}
.nav-links a{
    color: rgb(17, 16, 16);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
}
.burger {
    display:none;
    cursor:pointer;
}
/*line 3개로 메뉴 바 만들기*/
.burger div{
    width:25px;
    height:3px;
    background-color:cadetblue;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width:1080px){
    .nav-links{
        width:80%;
    }
}
@media screen and (max-width:728px){
    body{
        overflow-x: hidden; /*x좌표로 스크롤 넘어가는 거 숨기기*/
    }
    /*새로운 메뉴바 만들어주기*/
    .nav-links{
        position:absolute;
        right:0px; /*오른쪽에 딱 붙음*/
        height:92vh;
        top:8vh;
        background-color: azure;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%); /*그 자체 x크기만큼 이동*/
        transition: transform 0.5s ease-in; /*붐 하고 나타남*/
    }
    .nav-links li{
        opacity: 0; /*내용 자체가 안보이게*/
    }
    .burger{
        display: block;/*hidden되지 않게*/
    }
}
.nav-active{
    transform: translateX(0%);
}

/*soft하게 줄어들음*/
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform:  translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5px,-6px);
}


#line-above img{
  margin-right:59px;
  margin-bottom: 5px;
}
#line{
  margin-right:40px;
  margin-left:40px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:1px;
}
#line > img{
  width:100%;
  object-fit: fill;
}
/* 왼쪽 설정 창 */
#simworld{
  width:30%;
  margin: 60px 48px 72px 48px;
  display: flex;
}

/*-----------------------*/
/* 글씨체 및 글씨 설정 start*/
/*-----------------------*/

/*constants Variable 제목 부분*/
#simworld h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175%;
  /* or 26px */

  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #055688;
}
.info-subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 175%;
  /* identical to box height, or 17px */
  text-transform: uppercase;
  /* Blue Gray / 500 */
  color: #64748B;
}
/*모델 이름*/
#Headers h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 175%;
    /* identical to box height, or 35px */
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'liga' off;

    /* Blue Gray / 700 */
    color: #334155;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
/*모델 설명 중 h3 소제목*/
#Headers h3{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px; 
  line-height: 175%;
  /* or 26px */

  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #055688;
}
/*모델 설명*/
#Headers{
font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;  
  /* or 21px */
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'liga' off;

  /* Blue Gray / 500 */
  color: #515d6d; /*64748B*/
  mix-blend-mode: normal;
}
/*변수 설명 중 h5 소제목*/
#Constants h5{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px; 
  line-height: 175%;
  /* or 26px */

  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #055688;
}
/*변수 설명 부분*/
#Constants{
font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;  
  /* or 21px */
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'liga' off;
  color: #515d6d;
  mix-blend-mode: normal;
}
/*변수 설명 중 h5 소제목*/
#Variables h5{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px; 
  line-height: 175%;
  /* or 26px */

  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #055688;
}
/*변수 설명 부분*/
#Variables{
font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;  
  /* or 21px */
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'liga' off;
  color: #515d6d;
  mix-blend-mode: normal;
}
#plotviz > *{
  margin-left:12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  /* or 35px */
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'liga' off;

  /* Blue Gray / 700 */
  color: #334155;
}
/*-----------------------*/
/* 글씨체 및 글씨 설정 end */
/*-----------------------*/

.link {
    stroke: #000;
    stroke-width: 1.5px;
}
.node {
    fill: #000;
    stroke: #fff;
    stroke-width: 1.5px;
}
.node.a { fill: #1f77b4; }
.node.b { fill: #ff7f0e; }
.node.c { fill: #2ca02c; }
.node.d { fill: #00305c; }
